
<nav class="">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content" class="mt-5">

<div class="px-lg-5 mx-lg-5 mt-5 mt-lg-0">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-8 col-12 text-center text-md-left">
        <!-- TODO: -->
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="">
          <h6 class="text-lg-right p-2 px-3 mb-0">
            <i class="fas fa-user-tag ml-1"></i>
            <!-- TODO: -->
            <span>City Hotel</span>
          </h6>
        </div>
      </div>
    </div>
    <div class="card mt-2 hover-shadow">
      <div class="card-body">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 mb-3">
                <!-- TODO: -->
                <h3 class="mb-4">
                  Forecasting
                  <a  data-toggle="modal" data-target="#exampleModal"
                  title="Add a New training session"
                    class="btn btn-success btn-sm float-right rounded shadow-sm hover-shadow">
                    <i class="fa fa-plus mt-1"></i>
                  </a>
                </h3>
                <hr>
              </div>
            </div>

        

            <div class="row">
              <div class="col-12">
                <label class="w-100 mb-4">
                  <div class="input-group rtl mt-2">
                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light p-0 hover-shadow">
                        <button type="submit" title="Search now" class="btn btn-sm btn-light rounded bg-white border-0">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>

                  </div>
                </label>
              </div>
              <div class="col-12 mb-4">
                <div class="hover-shadow table-responsive rounded border border-top-0">
                  <table class="table align-middle table-hover table-striped m-0 text-center">
                    <thead>
                      <tr>
                        <th>Quantity of Butter(Kg)</th>
                        <th>Quantity of Black Coffee(Kg)</th>
                        <th>Quantity of Orange(Kg)</th>
                        <th>Quantity of Tomato(Kg)</th>
                        <th>Quantity of Pepper(Kg)</th>
                        <th>Quantity of Onion(Kg)</th>
                        <th>Quantity of Lettuce(Kg)</th>
                        <th>Quantity of Potato(Kg)</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of predictions; let index = index">
                        <td>{{ p.butter }}</td>
                        <td>{{ p.black_coffee }}</td>
                        <td>{{ p.orange }}</td>
                        <td>{{ p.tomato }}</td>
                        <td>{{ p.pepper }}</td>
                        <td>{{ p.onion }}</td>
                        <td>{{ p.letuce }}</td>
                        <td>{{ p.potato }}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-12">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a class="btn btn-outline-info btn-sm rounded px-3 py-0" title="Back to the previous page"
          href="javascript:history.back();">
          <i class="fa fa-angle-left mt-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Forcasting Information</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label >Arrival Date</label>
                <input type="date" class="form-control"  placeholder="..." [(ngModel)]="prediction.arrival_date" [ngModelOptions]="{standalone: true}">
              </div>
                <div class="form-group">
                <label >Arrival Date Week number</label>
                <input type="text" class="form-control"  placeholder="..." [(ngModel)]="prediction.arrival_date_week_number" [ngModelOptions]="{standalone: true}" >
              </div>
              <div class="form-group">
                <label >Season</label>
                

                <select name="category" class="form-control" aria-label="Area" id="chooseCategory" (change)="changeCategory($event)"  placeholder="..." [(ngModel)]="prediction.season" [ngModelOptions]="{standalone: true}">
                           
                <option value="undefined" selected disabled>Select a season</option>
                <option value="0"> winter</option>
                <option value="1">spring</option>
                <option value="2">summer</option>
                <option value="3">autumn</option>

                          
                </select>
                
                
              </div>
              <div class="form-group">
                <label >Stays in Weekend nights</label>
                <input type="text" class="form-control"  placeholder="..." [(ngModel)]="prediction.stays_in_weekend_nights" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label >Stays in Week Nights</label>
                <input type="text" class="form-control"  placeholder="..." [(ngModel)]="prediction. stays_in_week_nights" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label >Number of Clients</label>
                <input type="text" class="form-control"  placeholder="..." [(ngModel)]="prediction.nb_persons" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label >No Meal Package</label>
                <input type="email" class="form-control"  placeholder="..." [(ngModel)]="prediction.SC" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label>Bed & Breakfast</label>
                <input type="text" class="form-control"  placeholder="..." [(ngModel)]="prediction.BB" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label>Half Board</label>
                <input type="text" class="form-control"  placeholder="..." [(ngModel)]="prediction.HB" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label>Full Board</label>
                <input type="text" class="form-control"  placeholder="..." [(ngModel)]="prediction.FB" [ngModelOptions]="{standalone: true}">
              </div>

              <div class="form-group">
                <label>Number of Meals</label>
                <input type="text" class="form-control"  placeholder="..." [(ngModel)]="prediction. num_meals" [ngModelOptions]="{standalone: true}">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success"  data-dismiss="modal" type="submit" (click)="sendPrediction()" >Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>