<div class="container-fluid vh-100">
  <div class="row justify-content-center align-items-center h-100 mt-5">
      <div class="col-10 col-md-6 col-lg-5 col-xl-3">
          <div class="alert alert-danger rounded" *ngIf="errorMsg.length > 0">
              <i class="fa pl-2 fa-info-circle"></i>
              <!-- TODO: -->
              {{errorMsg}}
          </div>
          <div class="card hover-shadow">
              <div class="card-body py-5">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="container-fluid">
                          <div class="row justify-content-center mb-4">
                              <div class="col-12">
                                  <div class="d-flex justify-content-center">
                                      <img class="h-100" src="assets/img/logo.png" width="60px"
                                          alt="Connect Logo">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12 text-center">
                                  <!-- TODO: -->
                                  <h5>System Name</h5>
                                  <hr class="border-bottom-0">
                              </div>
                          </div>
                          <div class="row neue-reg">
                              <div class="col-lg-12">
                                  <div class="form-group">
                                      <label for="login">Login</label>
                                      <input formControlName="login" name="login" required id="email" type="text"
                                          class="form-control text-left" placeholder="example">
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                  <div class="form-group">
                                      <label for="password">Password</label>
                                      <input formControlName="password" required name="password" type="password"
                                          class="form-control text-left">
                                  </div>
                              </div>
                          </div>
                          <hr>
                          <div class="row neue-reg mt-4">
                              <div class="col-12">
                                  <div class="d-flex justify-content-center">
                                      <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
                                  </div>
                                  <div *ngIf="loading" class="d-flex justify-content-center mt-3">
                                    <div class="spinner-grow text-danger" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-5">
      <div class="col-12">
          <div class="d-flex align-items-center justify-content-center w-100">
              <div class="p-2 footer-button">
                  <a href="https://twitter.com/CONNECT_LYB" target="_blank">
                      <i class="fab fa-twitter"></i>
                  </a>
              </div>
              <div class="p-2 footer-button">
                  <a href="https://www.facebook.com/connectlibya" target="_blank">
                      <i class="fab fa-facebook"></i>
                  </a>
              </div>
              <div class="p-2 footer-button">
                  <a href="tel:+218913494148">
                      <i class="fas fa-phone"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div class="row  mb-4 mt-2 ">
      <div class="col-12">
          <h6 class="text-center neue-light">ION Telecom and technology © <span
                  id="year">2020</span></h6>
      </div>
  </div>
</div>