<nav class="">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content" class="mt-5">


<div class="px-lg-5 mx-lg-5 mt-5 mt-lg-0">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-8 col-12 text-center text-md-left">
        <!-- TODO: -->
       
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="">
          <h6 class="text-lg-right p-2 px-3 mb-0">
            <i class="fas fa-user-tag ml-1"></i>
            <!-- TODO: -->
            <span>City Hotel</span>
          </h6>
        </div>
      </div>
    </div>
    <div class="card mt-2 hover-shadow">
      <div class="card-body">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 mb-3">
                <!-- TODO: -->
                <h3 class="mb-4">
                  Data for contributions
                  <button (click)="fileUpload.click()" title="upload data for contribution"
                    class="btn btn-success btn-sm float-right rounded shadow-sm hover-shadow">
                    <i class="fa fa-upload mt-1"></i>
                  </button>
                  <input type="file" class="file-input" accept=".csv"
                    (change)="onFileSelected($event)" #fileUpload>
                </h3>
                <hr>
              </div>
            </div>
            <img *ngIf="filename.length == 0" src="assets/nodata.png" class="center" alt="Italian Trulli">

            <div *ngIf="filename.length != 0" class="row">
              <div class="col-12">
                <label class="w-100 mb-4">
                  <div class="input-group rtl mt-2">
                    <input type="text" class="form-control" placeholder= "Search...">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light p-0 hover-shadow">
                        <button type="submit" title="Search now" class="btn btn-sm btn-light rounded bg-white border-0">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>

                  </div>
                </label>
              </div>
              <div class="col-12 mb-4">
                <div class="hover-shadow table-responsive rounded border border-top-0">
                  <table class="table align-middle table-hover table-striped m-0 text-center">
                    <thead>
                      <tr>
                        
                        <th>Arrival Date</th>
                        <th>Stays in Weekend Nights</th>
                        <th>Stays in Week Nights</th>
                        <th>Number Of Clients</th>
                        <th>Bed & Breakfast</th>
                        <th>Half Board</th>
                        <th>Full Board</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let element of datas">
                      
                        <td>{{element[0]}}</td>
                        <td>{{element[3]}}</td>
                        <td>{{element[4]}}</td>
                        <td>{{element[5]}}</td>
                        <td>{{element[7]}}</td>
                        <td>{{element[8]}}</td>
                        <td>{{element[9]}}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-12">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a class="btn btn-outline-info btn-sm rounded px-3 py-0" title="Back to the previous page"
          href="javascript:history.back();">
          <i class="fa fa-angle-left mt-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>