<nav class="">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    
    <div id="content" class="mt-5">
      <div class="px-lg-5 mx-lg-5 mt-5 mt-lg-0">
        <div class="container-fluid">
          <div class="row mb-5">
            <div class="col-md-8 col-12 text-center text-md-left">
              <!-- TODO: change placeholder to the actual system name-->
              <h2 class="px-3 mb-0">{{'GENERAL.system_name' }}</h2>
            </div>
            <div class="col-md-4 col-12 text-center">
              <div class="">
                <h6 class="text-lg-right p-2 px-3 mb-0">
                  <i class="fas fa-user-tag ml-1"></i>
                  <!-- TODO: change username to the user's-->
                  <span>Username</span>
                </h6>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-xl-4 col-12 mb-5" *ngFor="let card of cards">
              <div class="card text-center border-0 shadow hover-shadow">
                <div class="card-body pt-4 pb-2 px-2">
                  <i class="fa fa-user-friends fa-3x"></i>
                  <h5>{{'DASHBOARD.users' }}</h5>
                  <h6 class="mt-2" >{{card}} {{'DASHBOARD.user' }}</h6>
                  <hr class="mb-2 mt-4">
                  <a routerLink="/view" class="w-100 d-block btn btn-light btn-sm rounded">{{'DASHBOARD.see_more' }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>