
  <nav id="sidebar" class="justify-content-center">
    <div class="w-100 d-flex justify-content-center">
        <img src="../assets/img/logo.png" alt="Connect Logo" class="h-100" width="80px">
    </div>
    <div class="container-fluid mt-5">
    
         
        <div class="row py-3 list-item">
            <div class="col-3 px-0 offset-1">
                <div class="h-100 d-flex justify-content-center align-content-center">
                    <div><i class="fas fa-table"></i></div>
                </div>
            </div>
            <div class="col-8 px-0">
                <div class="h-100 d-flex align-items-center">
                    <a routerLink="/data">data for contributions</a>
                </div>
            </div>
        </div>
        <div class="row py-3 list-item">
            <div class="col-3 px-0 offset-1">
                <div class="h-100 d-flex justify-content-center align-content-center">
                    <div><i class="fas fa-plus-circle"></i></div>
                </div>
            </div>
            <div class="col-8 px-0">
                <div class="h-100 d-flex align-items-center">
                    <a routerLink="/contributions">My contributions</a>
                </div>
            </div>
        </div>

        <div class="row py-3 list-item">
            <div class="col-3 px-0 offset-1">
                <div class="h-100 d-flex justify-content-center align-content-center">
                    <div><i class="fas fa-fast-forward"></i></div>
                </div>
            </div>
            <div class="col-8 px-0">
                <div class="h-100 d-flex align-items-center">
                    <a routerLink="/sessions">Forecasting </a>
                </div>
            </div>
        </div>


        <div class="row py-3 list-item">
            <div class="col-3 px-0 offset-1">
                <div class=" h-100 d-flex justify-content-center align-content-center">
                    <div><i class="fas fa-power-off"></i></div>
                </div>
            </div>
            <div class="col-8 px-0">
                <div class=" h-100 d-flex align-items-center">
                    <a routerLink="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>