<div class="px-lg-5 mx-lg-5 mt-5 mt-lg-0">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-8 col-12 text-center text-md-left">
        <!-- TODO: -->
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="">
          <h6 class="text-lg-right p-2 px-3 mb-0">
            <i class="fas fa-user-tag ml-1"></i>
            <!-- TODO: -->
            <span>Talan</span>
          </h6>
        </div>
      </div>
    </div>
    <div class="card mt-2 hover-shadow">
      <div class="card-body">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 mb-3">
                <!-- TODO: -->
                <h3 class="mb-4">
                  Training sessions
                  <button data-toggle="modal" data-target="#exampleModal" title="launch training session"
                    class="btn btn-success btn-sm float-right rounded shadow-sm hover-shadow">
                    <i class="fa fa-play mt-1"></i>
                  </button>
                </h3>
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <label class="w-100 mb-4">
                  <div class="input-group rtl mt-2">
                    <input type="text" class="form-control">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light p-0 hover-shadow">
                        <button type="submit" title="Search now" class="btn btn-sm btn-light rounded bg-white border-0">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>

                  </div>
                </label>
              </div>
              <div class="col-12 mb-4">
                <div class="hover-shadow table-responsive rounded border border-top-0">
                  <table class="table align-middle table-hover table-striped m-0 text-center">
                    <thead>
                      <tr>
                        <th width="70">Session number</th>
                        <th>nb. of clients</th>
                        <th>Data contributed</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let session of sessions">
                        <td>{{session["roundNumber"]}}</td>
                        <td>{{session["contributers"]}}</td>
                        <td>{{session["dataSize"]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-12">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a class="btn btn-outline-info btn-sm rounded px-3 py-0" title="Back to the previous page"
          href="javascript:history.back();">
          <i class="fa fa-angle-left mt-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Start new session</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label >Number of rounds</label>
            <input type="number" class="form-control"  placeholder="0" [(ngModel)]="num_rounds">
          </div>
         

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success"  data-dismiss="modal" type="submit" (click)="launchSession()" >Submit</button>
      </div>
    </div>
  </div>
</div>